<div class="container">
    <h1>Odalarımız</h1>
    <div class="row">
        <div class="col-md-4">
            <h3>Tek Kişilik Oda</h3>
            <p>Fiyat: 100 TL</p>
        </div>
        <div class="col-md-4">
            <h3>Çift Kişilik Oda</h3>
            <p>Fiyat: 150 TL</p>
        </div>
    </div>
</div>