
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}


.navbar {
    background-color: #004d40;
    color: white;
    padding: 15px 0;
}

    .navbar .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    .navbar .logo {
        display: flex;
        align-items: center;
    }

        .navbar .logo img {
            height: 50px;
            margin-right: 10px;
        }

        .navbar .logo span {
            font-size: 1.5rem;
            font-weight: bold;
        }

    .navbar .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        .navbar .menu ul li {
            margin: 0 10px;
        }

            .navbar .menu ul li a {
                color: white;
                text-decoration: none;
                font-size: 1rem;
                padding: 5px 10px;
                transition: background-color 0.3s ease;
            }

                .navbar .menu ul li a:hover {
                    background-color: #00695c;
                    border-radius: 5px;
                }

    .navbar .reservation .btn-reserve {
        background-color: #632801;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

        .navbar .reservation .btn-reserve:hover {
            background-color: #664733;
        }


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

    .footer p {
        margin: 0;
    }


@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

        .navbar .menu ul li {
            margin: 5px 0;
        }

    .navbar .reservation {
        margin-top: 10px;
    }
}
