@{
    ViewData["Title"] = "Galeri";
}

<div class="gallery-header">
    <h1>Otel Galerisi</h1>
</div>

<div class="gallery-container">
    <div class="gallery-item">
        <img src="/images/aile1.jpg" alt="Otel Fotoğrafı 1">
    </div>
    <div class="gallery-item">
        <img src="/images/aile2.jpg" alt="Otel Fotoğrafı 2">
    </div>
    <div class="gallery-item">
        <img src="/images/ciftkisi1.jpg" alt="Otel Fotoğrafı 3">
    </div>
    <div class="gallery-item">
        <img src="/images/ciftkisi2.jpg" alt="Otel Fotoğrafı 4">
    </div>
    <div class="gallery-item">
        <img src="/images/resim1.jpg" alt="Otel Fotoğrafı 5">
    </div>
    <div class="gallery-item">
        <img src="/images/resim3.jpg" alt="Otel Fotoğrafı 6">
    </div>
    <div class="gallery-item">
        <img src="/images/resim2.jpg" alt="Otel Fotoğrafı 6">
    </div>
    <div class="gallery-item">
        <img src="/images/suit1.jpg" alt="Otel Fotoğrafı 6">
    </div>
    <div class="gallery-item">
        <img src="/images/double.jpg" alt="Otel Fotoğrafı 6">
    </div>
    <div class="gallery-item">
        <img src="/images/suit2.jpg" alt="Otel Fotoğrafı 6">
    </div>
    <div class="gallery-item">
        <img src="/images/tekkisi1.jpg" alt="Otel Fotoğrafı 6">
    </div>
    <div class="gallery-item">
        <img src="/images/restoran2.jpg" alt="Otel Fotoğrafı 6">
    </div>
</div>

<link rel="stylesheet" href="/css/Galeri.css">
