<div class="about-header">
    <div class="overlay">
        <h1>Hakkımızda</h1>
    </div>
</div>

<div class="about-content">
    <h2>Keyif dolu anlar ile tatilinizi eşsiz kılalım.</h2>
    <p>
        Doğanın kalbinde, Uludağ’ın eşsiz güzellikleri arasında yer alan bungalov otelimiz, huzur ve keyif dolu bir tatil deneyimi sunmak için sizleri bekliyor. Modern konforu, doğanın sade ve dingin atmosferiyle buluşturan tesisimiz, her mevsim farklı bir güzelliğe tanıklık etmenizi sağlıyor.

        Bungalovlarımız, misafirlerimizin ihtiyaçlarını en iyi şekilde karşılamak üzere tasarlanmış, hem sıcak hem de samimi bir ortam sunar. Güne kuş sesleri eşliğinde uyanırken, odun ateşinde kahvenizi yudumlayabilir, doğa yürüyüşleri ve açık hava aktiviteleriyle ruhunuzu dinlendirebilirsiniz.

        Otelimiz, ailelerin, arkadaş gruplarının ve romantik kaçamaklar arayan çiftlerin kendilerini evlerinde hissedecekleri özel bir atmosfer sunmaktadır. Ayrıca, her biri doğa ile uyumlu ve çevre dostu olarak inşa edilen bungalovlarımızda, sürdürülebilir turizme önem veriyoruz.

        Misyonumuz, misafirlerimize samimi bir konukseverlikle unutulmaz anılar yaşatmaktır. İster kışın karlarla kaplı ormanların içinde bir macera, ister yazın serin dağ havasında huzurlu bir mola arayın, otelimiz her zaman yanınızda.

        Doğanın keyfini çıkarabileceğiniz bir yer arıyorsanız, doğru adrestesiniz. Sizi, Uludağ’ın büyüleyici manzarasında konfor ve huzur dolu bir konaklama deneyimi yaşamaya davet ediyoruz.

        Sizi ağırlamaktan mutluluk duyarız! 🌿
    </p>
    <p>
        Uludağ Bungalov Otel, standart odaları 30 m² genişliğinde olup, odalarda Wi-Fi, uydu yayını, duş, LCD TV, balkon, ahşap zemin, banyo, saç kurutma makinesi, split klima mevcuttur.
    </p>
    <h2>Tesis Lokasyon Bilgileri</h2>
    <p>
        Uludağ Bungalov Otel, Uludağ Merkez'e 10 km, şehir merkezine 30 km uzaklıktadır.
    </p>
</div>

<link rel="stylesheet" href="/css/Hakkimizda.css" />
